<div class="container">
    <div class="uk-flex-center" uk-grid>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-default uk-padding">
          <p class="uk-text-lead">
            VERIFICAR TU TELEFONO.
          </p>
          <div class="row align-items-center">
            <div>
              <p class="lead">
                Ingrese el telefono con el codigo de pais por delante
                <br>
                Ejemplo 593984703346
              </p>
              <hr class="my-4">
              <div id="recaptcha-container"></div>
              <form class="" #formData='ngForm' (ngSubmit)="onSubmit(formData.value)">
                <div class="uk-margin">
                  <input type="number" name="phone_number" class="uk-input uk-form-large" ngModel="int" placeholder="e.g 2330269201707"
                    required autofocus>
                </div>
                <button type="submit" class="uk-button uk-button-primary" [disabled]="formData.invalid">
                  
                  <span >Continue</span>
                </button>
                <a [routerLink]="['/']" class="uk-button uk-button-default uk-button-small">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
